.student-says {
    background-color: #fffcf6;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 40px;
    flex-direction: column;
}

.student-says h3 {
    font-size: 25px;
    font-family: "PT Sans";
}

.student-says .heading {
    font-size: 60px;
    font-family: "El Messiri";
}

.swiper-slide {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 360px;
    text-align: center;
    padding: 0 100px;
    cursor: grab;
}

.swiper-slide img {
    width: 100px !important;
    border-radius: 50%;
    height: 100px !important;
    object-fit: cover;
    margin: 10px 0;
}

.swiper-slide p {
    font-size: 28px;
    font-family: "PT Sans";
    color: #888377;
    margin-bottom: 10px;
}

.swiper-slide h1 {
    font-family: "PT Sans";
    font-size: 17px;
}

.swiper {
    width: 100%;
    height: 100%;
}