
.service-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140vh;
    flex-direction: column;
}

.service-container h3 {
    font-size: 25px;
    font-family: "PT Sans";
}

.service-container h1 {
    font-size: 60px;
    font-family: "El Messiri";
}

.services {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service-card {
    width: 340px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 330px;
    text-align: center;
}

.service-card .icon {
    font-size: 32px;
    color: #69727d;
}

.service-card a {
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid #db9e30;
    border-radius: 5px;
    background: transparent;
    color: #db9e30;
    font-family: "El Messiri";
}

.service-card p {
    font-family: "PT Sans";
    color: #817b70;
    font-size: 14px;
    line-height: 1.78;
}


.service-card h3 {
    font-size: 25px;
}