.container {
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.581), rgba(0, 0, 0, 0.535)), url("../../img//banner.jpg");
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
}

.main-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: "Poppins";
}

.main-container h1 {
    margin: 10px;
    font-size: 60px;
    width: 950px;
    text-align: center;
}

.main-container p {
    margin: 10px;
    font-size: 20px;
    width: 450px;
    text-align: center;
    color: #f0b14d;
    font-family: 'El Messiri', sans-serif;
}

.main-container h3 {
    font-size: 20px;
    text-align: center;
    width: 750px;
    font-weight: 600;
}

.main-container a {
    background-color: #db9e30;
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin: 20px;
}

.main-container a:hover {
    background-color: #C17E03;

}

.main-container a i {
    margin-left: 3px;
}

.main-container .bismillah {
    margin: 20px 0;
}

@media (max-width:820px) {
    .service-container h1 {
        text-align: center;
    }

    .main-container h1 {
        width: 100%;
        font-size: 50px !important;
    }

    .main-container h3,
    p {
        width: 100% !important;
        padding: 0 10px;
    }

    .content ul {
        width: 60%;
    }

    .about-section .image {
        width: 100%;
        margin-top: 30px;
    }

    .about-section .content {
        padding: 0;
    }

    .student-says {
        height: auto;
    }

    .students-container p {
        font-size: 16px !important;
        width: 100%;
    }

    .student-says .heading {
        text-align: center !important;
    }

    .swiper-slide {
        padding: 40px !important;
    }
}