.contact-container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.581), rgba(0, 0, 0, 0.726)), url("https://www.quizexpo.com/wp-content/uploads/2021/05/abu-dhabi-ancient-arabian-arabic-architecture-art-beautiful-celebration-culture-decoration-design-eid_t20_7JX66O.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.contact-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-ways {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.contact-ways .way {
    text-align: center;
    width: 350px;
    font-family: "PT Sans";
}

.way p {
    font-size: 20px;
}

.contact-form button {
    padding: 10px 30px;
    background-color: #db9e30;
    border: 1px solid #db9e30;
    border-radius: 5px;
    color: #fff;
    font-family: "El Messiri";
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
}

.way .icon-ways {
    color: #d3a34a;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form .input-label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 350px;
    margin: 10px 10px 0 0;
}

.input-label input {
    width: 100%;
    font-family: "PT Sans";
    padding: 12px 20px;
    font-size: 17px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    outline: 0;
}

.input-label label {
    font-family: "Poppins";
    margin-bottom: 7px;
}

.input-label select {
    width: 100%;
    font-family: "PT Sans";
    padding: 12px 20px;
    font-size: 17px;
    outline: none;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.course {
    width: 530px !important;
}

.packages {
    width: 530px !important;
}

.message {
    width: 1065px !important;
}

.message textarea {
    width: 100%;
    font-family: "PT Sans";
    padding: 12px 20px;
    font-size: 17px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    height: 140px;
    resize: none;
    outline: 0;
}