nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "El Messiri", sans-serif;
  width: 85%;
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff;
}

nav.navbar .nav-responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

nav.navbar .logo img {
  width: 100px;
}

nav.navbar .nav-items .links {
  display: flex;
  list-style: none;
}

nav.navbar .nav-items .links li a {
  color: #000;
  text-decoration: none;
  font-family: "El Messiri" !important;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
}

nav.navbar .nav-items .links li a:hover {
  color: #b99534;
}

nav.navbar .nav-items .links li a.active {
  color: #b99534;
}

nav.navbar .button a,
nav.navbar .button button {
  background-color: #b99534;
  color: #fff;
  text-decoration: none;
  padding: 18px 22px 13px;
  border-radius: 5px;
  font-size: 15px;
  border: 0;
  font-family: "Poppins";
  cursor: pointer;
}

.username {
  text-transform: capitalize;
}

@media (min-width:820px) {

  .bars,
  .xmark {
    display: none !important;
  }
}

@media (max-width: 820px) {
  .bars {
    font-size: 30px;
    cursor: pointer;
    display: block;
  }

  .nav-responsive {
    position: fixed;
    flex-direction: column;
    top: 0px;
    z-index: 9999 !important;
    background-color: #fff;
    width: 100% !important;
    left: 0px;
    justify-content: center !important;
    max-height: 0px;
    overflow: hidden;

    transition: 0.5s;
  }

  .nav-items ul {
    flex-direction: column;
    margin-bottom: 20px;
    width: 100% !important;
  }

  .nav-items li {
    height: 40px;
  }

  .nav-items {
    width: 100%;
  }

  .navbar .button {
    width: 100% !important;
    margin-left: 30px !important;
  }

  .xmark {
    position: fixed;
    top: 20px;
    font-size: 20px;
    right: 20px;
    cursor: pointer;
  }
}